body{
    background-color: #333;
}

.container {
    margin: 50px;
    padding: 20px;
    background: linear-gradient(0.25turn, #0e1f8e, #f1f1f1, #f6453c);
    border: 4px solid gray;
    border-radius: 10px;
    width: 600px;
    font-family: Arial, sans-serif;
    color: black;
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
    display: block;
    position: relative;
    overflow: hidden;
    filter: grayscale(50%);
    box-shadow: 5px 5px 5px solid;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
}

.ejemplo {
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    color: gray;
    font-size: 14px;
    line-height: 1.2;
}

#border {
    border: 3px dashed aqua;
}

#all_border {
    border-left: 4px dotted green; 
    border-right: 4px solid blue; 
    border-top: 3px dashed rgb(5, 0, 0); 
    border-bottom: 5px double rgb(213, 7, 254);
}

#border_radius {
    border: 2px solid black; 
    border-radius: 10px;
}

#background_image {
    background-image: url('https://cdn-icons-png.flaticon.com/512/919/919826.png'); 
    height: 500px;
    width: 512px;
}

#color {
    color: red;
}

#font{
    font: italic bold 24px/1.5 'Times New Roman', serif;
}

#font_family {
    font-family: 'Courier New', Courier, monospace;
}

#font_style_weight {
    font-style: italic; 
    font-weight: bold;
}

#width_height {
    width: 200px; 
    height: 100px; 
    background-color: lightblue;
}

#list_style {
    list-style: lower-greek;
}

#margin {
    margin: 20px;
}

#padding {
    padding: 30px;
}

#overflow {
    width: 200px; 
    height: 100px; 
    overflow: scroll;
}

#display {
    display: inline-block; 
    width: 50px; 
    height: 50px; 
    background-color: pink;
}

#filter {
    background-image: url('https://gumlet.assettype.com/afkgaming%2F2021-08%2F79649079-d0e7-4acd-853b-6a2b92797da3%2Fcopium_png.png?format=auto'); 
    filter: grayscale(100%); 
    width: 370px; 
    height: 365px;
}

#position {
    position: relative; 
    height: 200px;
    width: 100px;
}